# SQLAlchemy Workshop
We are still striving to make our [final CRUD application](https://final-sql-example.shonkaga.repl.co/).

Today your workshop's goal is to make the "database" needed for our application.

You should look at the last section of tonight's lecture and copy + modify the code from there to fit what we need.

## STEP 1: Installing needed packages
make sure to install `flask_sqlalchemy `and `flask`

In [1]:
# install needed modules
! pip install flask
! pip install flask_sqlalchemy
# make sure to run this code cell to actually load the modules

Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (1.1.4)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask) (1.0.1)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask) (7.1.2)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask) (2.0.1)
Requirement already satisfied: flask_sqlalchemy in /usr/local/lib/python3.7/dist-packages (2.5.1)
Requirement already satisfied: SQLAlchemy>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from flask_sqlalchemy) (1.4.20)
Requirement already satisfied: Flask>=0.10 in /usr/local/lib/python3.7/dist-packages (from flask_sqlalchemy) (1.1.4)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.10->flask_sqlalchemy) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.10->flask_sqlalchemy) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.10->flask_sqlalchemy) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.10->flask_sqlalchemy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.10->flask_sqlalchemy) (2.0.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=0.8.0->flask_sqlalchemy) (4.6.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=0.8.0->flask_sqlalchemy) (1.1.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy>=0.8.0->flask_sqlalchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy>=0.8.0->flask_sqlalchemy) (3.5.0)

## STEP 2: Setting up  and starting flask + SQL
here we want to declare flask and the database variable

<em><font color="gray">hint: you can just copy and paste this code from the lecture without any need of modification</font> </em>

In [2]:
# starting flask and sql:
import os
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///' + os.path.join("/content",'data.sqlite0')
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# make sure to run this code cell once you have added the code

#STEP 3: Setting up and Creating the Contact Table

Since we are building a contact list We will have a **Contact table**. 

Each Contact will have these attributes:


*   `id`
  *  Should be a Integer
  *  Should be a Primary Key
*   `name`
  *  Should be a String 
*   `phoneNumber`
  *  Should be a String since so we can store `301-234-5675` and `3012345675`

We should be able to create a new contact by running:
```python
newContact = Contact("Adam Smith","123-345-4564")
```

If we were to print our contact the program should do this:
``` python
print(newContact)
"id: 1   Name:Adam Smith   Phone:123-345-4564"
```

Now define and then create the **Contact** table:

In [3]:
####### defining a user table: ##########

class Contact(db.Model):
  #define the attributes needed
  id = db.Column(db.Integer,primary_key = True)
  name = db.Column(db.Text)
  phone = db.Column(db.Text)

  #define the __init__ method so we know how to make a new contact 
  def __init__(self, name, phone):
    self.name = name
    self.phone = phone

  # define the __repr__ method so the program knows how to print a contact
  def __repr__(self):
    return f"ID: {self.id} Name: {self.name} Phone {self.phone}"
#DONT FORGET TO CREATE THE TABLE WITH create_all()

db.create_all()

In [8]:
import os
os.remove("data.sqlite0")

###STEP 4: Creating users and adding them to the database

Create these users and then add and commit them to the database:


<table width="90%">
<caption><h3>Contact Table</h3></caption>
<tr>
  <td> id <strong>[Integer]</strong></td>
  <td> name <strong>[String]</strong></td>
  <td> phoneNumber <strong>[String]</string></td>
</tr>
<tr>
  <td>  </td>
  <td> Adam </td>
  <td> 123-456-7890 </td>
</tr>
<tr>
  <td>  </td>
  <td> Bob </td>
  <td> 	222-222-2222</td>
</tr>
<tr>
  <td>  </td>
  <td> Roger</td>
  <td> 111-111-1111 </td>
</tr>

In [4]:
# create adam,bob, and roger
adam = Contact('Adam','123-456-7890')
db.session.add(adam)
db.session.commit()

bob = Contact('Bob','222-222-2222')
db.session.add(bob)
db.session.commit()

roger = Contact('Roger','111-111-1111')
db.session.add(roger)
db.session.commit()

#add and commit them to the database

### Step 5: Get all the current contacts:
Use the Contact table to get all the current contacts we have added and print them in a for loop

In [5]:
#query all the contacts in the Contact table and print all of them in a for loop
contacts = Contact.query.all()

for info in contacts:
  print(info)

ID: 1 Name: Adam Phone 123-456-7890
ID: 2 Name: Bob Phone 222-222-2222
ID: 3 Name: Roger Phone 111-111-1111

# Step 5: Update a contact
Adam obviously gave us a fake number. Looking at the last code cell select adam by his `id`, then update his number to: 333-333-3333.

Don't forget to add and commit the changes!

In [7]:
# get adam by ID
contact1 = Contact.query.get(1)

print(contact1)
#update adam's info
contact1.phone = "333-333-3333"

#add and commit the changes
db.session.add(contact1)
db.session.commit()

ID: 1 Name: Adam Phone 333-333-3333

Lets check that we have changed adam's number: print out all of the contacts in the Contact table again:

In [8]:
#query all the contacts in the Contact table and print all of them in a for loop. again.
contacts = Contact.query.all()

for info in contacts:
  print(info)

ID: 1 Name: Adam Phone 333-333-3333
ID: 2 Name: Bob Phone 222-222-2222
ID: 3 Name: Roger Phone 111-111-1111

### Step 5: Delete a user.
We have decided that Roger is no longer our friend. Using Roger's ID select  him from the Contact table and delete him. Make sure to commit the changes!

In [9]:
# code goes here
contact1 = Contact.query.get(3)

db.session.delete(contact1)
db.session.commit()

Lets check that we have indeed deleted roger from the Contact table. Print out all the contacts in the Contact table again:

In [10]:
#query all the contacts in the Contact table and print all of them in a for loop. again.
contacts = Contact.query.all()

for info in contacts:
  print(info)

ID: 1 Name: Adam Phone 333-333-3333
ID: 2 Name: Bob Phone 222-222-2222

#Step 6: Update a name + phone number 
Bob has decided he wants to go by his full name Robert. He also got a new phone number that is now 999-999-9999.

Get him by ID and change his name and phone number. Then re-add him and commit the changes.

In [11]:
# code goes here
contact1 = Contact.query.get(2)

contact1.name = "Robert"
contact1.phone = "999-999-9999"

db.session.add(contact1)
db.session.commit()

Check that we have updated his name by printing out **just the NAMES** of everyone in the Contact table

In [13]:
#code goes here
#query all the contacts in the Contact table and print all of them in a for loop. again.
contacts = Contact.query.all()

for info in contacts:
  print(info.name)

Adam
Robert